In [1]:
#Install the libraries needed
! pip install openpyxl

Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.11/site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in /opt/anaconda3/lib/python3.11/site-packages (from openpyxl) (1.1.0)

In [4]:
#Load the datasets
import pandas as pd

csv_data = pd.read_csv("/Users/bandanaadhikari/Desktop/classassignment/bandanaa/Python/COPD_prediction/finalalldata.csv")
excel_data = pd.read_excel("/Users/bandanaadhikari/Desktop/classassignment/bandanaa/Python/COPD_prediction/DATA/Raw/Dataset_PowerBI.xlsx")

In [9]:
import json
with open("../../data/raw/d09eafb5-c273-4bad-ac09-d18ea064064b.json","r")as file:
    json_data=json.load(file)

In [11]:
csv_data.sample(7)

,uid,label,sex,age,bmi,smoke,location,rs10007052,rs8192288,rs20541,rs12922394,rs2910164,rs161976,rs473892,rs159497,rs9296092,class
225,copdcase26,1,1,55,26.80,1,7.76,1.671,1.0000,0.6698,0.6506,1.416,1.594,1.000,1.000000,1.0,train
323,copdcase68,1,1,86,28.60,1,8.60,1.671,1.0000,1.0000,0.6506,1.000,1.594,1.473,2.088025,1.0,train
300,case231,1,1,83,22.04,0,8.60,1.671,0.5927,1.0000,0.6506,1.416,1.000,1.000,1.445000,1.0,train
590,BT1904300358LMSWX,0,1,30,21.29,0,7.76,1.671,1.0000,0.6698,0.6506,1.000,1.000,1.000,1.445000,1.0,validate
130,case108,1,2,74,17.00,1,6.88,1.000,1.0000,1.0000,0.6506,1.416,1.000,1.000,2.088025,1.0,train
427,BT1810260443LMSBE,0,2,80,22.49,0,5.31,1.000,1.0000,1.0000,1.0000,1.416,1.000,1.473,1.000000,1.0,validate
162,copdcontrol42,0,1,40,24.70,1,6.88,1.000,1.0000,0.6698,1.0000,1.416,1.594,1.473,1.445000,1.0,train