# Feature Engineering 
- Age Category
- BMI Category - Underweight , normal Weight, Over weight,Obesity
- Pollution Risk - Location and Air Pollution Level
- Smoking Status Encoding
- Interaction Features
- Location Encoding

In [134]:
# import the libraries needed
import pandas as pd
import numpy as np

In [135]:
#Load the data 
df = pd.read_csv("/Users/bandanaadhikari/Desktop/classassignment/bandanaa/Python/COPD_prediction/DATA/Raw/synthetic_COPD_data.csv")
df.head()

,Age,Gender,Smoking_Status,Biomass_Fuel_Exposure,Occupational_Exposure,Family_History_COPD,BMI,Location,Air_Pollution_Level,Respiratory_Infections_Childhood,COPD_Diagnosis
0,31,Male,Former,1,1,1,27.56,Lalitpur,84,0,0
1,60,Male,Never,1,0,0,30.30,Pokhara,131,1,0
2,33,Male,Former,0,0,1,28.45,Pokhara,123,1,0
3,36,Female,Current,1,0,0,27.49,Kathmandu,253,0,1
4,58,Male,Never,0,0,0,25.49,Pokhara,117,1,0

In [136]:
#Age Categories
df["Age_Category"] = pd.cut(df['Age'],bins=[29,39,49,59,69,79],labels=['30-39','40-49','50-59','60-69','70-79'])
df['BMI_Categories']= pd.cut(df['BMI'],bins = [0,18.5,24.5,29.9, 35], labels=['Underweight','Normal Weight','Overweight','Obesity'])

In [137]:
df.sample(6)

,Age,Gender,Smoking_Status,Biomass_Fuel_Exposure,Occupational_Exposure,Family_History_COPD,BMI,Location,Air_Pollution_Level,Respiratory_Infections_Childhood,COPD_Diagnosis,Age_Category,BMI_Categories
849,73,Female,Current,1,1,1,27.01,Nepalgunj,203,1,1,70-79,Overweight
655,69,Female,Former,0,0,0,19.47,Chitwan,67,0,0,60-69,Normal Weight
457,37,Male,Current,1,1,1,19.46,Nepalgunj,228,1,1,30-39,Normal Weight
543,70,Female,Current,0,1,1,28.21,Chitwan,150,0,1,70-79,Overweight
930,76,Male,Never,0,1,1,33.40,Biratnagar,277,1,0,70-79,Obesity
122,65,Male,Former,0,0,0,34.28,Bhaktapur,136,0,0,60-69,Obesity

In [138]:
#Pollution  Risk Score
df['Pollution_Risk_Score']= np.where(df['Air_Pollution_Level']>150,1,0)

#Encode smoking starus
df['Smoking_Status_encoded']=df['Smoking_Status'].map({'Current': 1, 'Former': 0.5, 'Never': 0})

#Encode gender
df['Gender']= df['Gender'].map({'Male':1,'Female':0})

#Interaction Features- Smoking status and pollution level
df['Smoking_Pollution_interaction'] =df['Smoking_Status_encoded'] * df['Air_Pollution_Level']

In [139]:
df.head(6)

,Age,Gender,Smoking_Status,Biomass_Fuel_Exposure,Occupational_Exposure,Family_History_COPD,BMI,Location,Air_Pollution_Level,Respiratory_Infections_Childhood,COPD_Diagnosis,Age_Category,BMI_Categories,Pollution_Risk_Score,Smoking_Status_encoded,Smoking_Pollution_interaction
0,31,1,Former,1,1,1,27.56,Lalitpur,84,0,0,30-39,Overweight,0,0.5,42.0
1,60,1,Never,1,0,0,30.30,Pokhara,131,1,0,60-69,Obesity,0,0.0,0.0
2,33,1,Former,0,0,1,28.45,Pokhara,123,1,0,30-39,Overweight,0,0.5,61.5
3,36,0,Current,1,0,0,27.49,Kathmandu,253,0,1,30-39,Overweight,1,1.0,253.0
4,58,1,Never,0,0,0,25.49,Pokhara,117,1,0,50-59,Overweight,0,0.0,0.0
5,63,0,Current,0,1,0,29.16,Kathmandu,209,0,0,60-69,Overweight,1,1.0,209.0

In [140]:
#One hot encoding for the Location (making easy for different location)
df = df.drop(columns = ['Location'])
df = pd.get_dummies(df, columns=["Location"], drop_first = True)

# Machine Learning Data

In [141]:
df = df.drop(columns=['Smoking_Status','Age_Category','BMI_Categories','Gender'])

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Age                               1000 non-null   int64
 1   Biomass_Fuel_Exposure             1000 non-null   int64
 2   Occupational_Exposure             1000 non-null   int64
 3   Family_History_COPD               1000 non-null   int64
 4   BMI                               1000 non-null   float64
 5   Air_Pollution_Level               1000 non-null   int64
 6   Respiratory_Infections_Childhood  1000 non-null   int64
 7   COPD_Diagnosis                    1000 non-null   int64
 8   Pollution_Risk_Score              1000 non-null   int64
 9   Smoking_Status_encoded            1000 non-null   float64
 10  Smoking_Pollution_interaction     1000 non-null   float64
 11  Location_Biratnagar               1000 non-null   bool
 12  Location_Butwal                   1000 non-null   bool
 13  Location_Chitwan                  1000 non-null   bool
 14  Location_Dharan                   1000 non-null   bool
 15  Location_Hetauda                  1000 non-null   bool
 16  Location_Kathmandu                1000 non-null   bool
 17  Location_Lalitpur                 1000 non-null   bool
 18  Location_Nepalgunj                1000 non-null   bool
 19  Location_Pokhara                  1000 non-null   bool
dtypes: bool(9), float64(3), int64(8)
memory usage: 94.9 KB

In [143]:
# Save my engineered data 
df.to_csv('engineered_COPD_data.csv', index=False)